/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-image{
    height: 100vh;
    width: 38vw;
}

body{
    display: flex;
}

.left-container{
    position: relative;
    max-width: fit-content;
    height: fit-content;
    max-height: 100vh;
    display: flex;
}

.stacked-text{
    position: absolute;
    top: 10rem;
    color: white;
    width: 100%;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: norse-bold;
    text-align: center;
    font-size: calc(min(5.49rem, 5em));
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred-info{
    position: absolute;
    bottom: 1rem;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: norse-bold;
    src: url(../../../../Downloads/Norse-Bold.otf);
}

.leaf-clipart{
    /* min-height: auto; */
    max-height: 5.49rem;
    max-width: 5.49rem;
}

.cred-info > p{
    color: white;
}

.cred-info > p a{
    color: white;
}